
/*Index*/
.delete-business {
}

.form-title {
    color: #273634;
}

.section-title {
    background-color: #122c36;
    padding: .5em 1em;
    color: white;
}

.section-table {
}

.section {
    min-height: 100px;
    background-color: white;
    border: 2px solid #122c36;
}

.section-scroll {
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    border: 2px solid #122c36;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.section-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.manage-business-form {
    background-color: white;
    border: 2px solid #122c36;
    padding: 2em .5em;
}

.remove-service {
    display: block;
}

.business-image-inner {
}

.business-slider {
    width: 250px;
    height: 250px;
}

.business-image-bg {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 10px solid #122c36;
    border-radius: 20px;
}
/*WorkersList*/
.worker-inner {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 150px;
    border: 2px solid #122c36;
    border-radius: 20px;
    color: white !important;
    place-self: center;
}

.worker-photo {
    margin-top: 15px;
    border: 2px solid #122c36;
    width: 110px;
    height: 110px;
    border-radius: 20px;
    border-bottom: none;
}

    .worker-photo img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }




.worker-info {
    padding: .2em;
    color: white;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    background-color: #122c36;
    width: 150px;
    height: 65px;
    border: 2px solid #122c36;
    border-radius: 0 0 20px 20px;
    border-top: none;
}

    .worker-info a {
        color: white;
    }

.worker-name {
    font-weight: bold;
    font-size: 20px;
}

.worker-description {
    font-size: 12px;
}

.remove-worker {
    font-size: 32px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/*Advertisements*/
.advertisement-details {
    transition: 0.5s;
    position: absolute;
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding-bottom: 10px;
}

    .advertisement-details:hover {
        transition: 0.5s;
        background-color: rgba(0,0,0,.5);
    }

        .advertisement-details:hover .advertisement-info {
            opacity: 1 !important;
        }

        .advertisement-details:hover .advertisement-name-hover {
            opacity: 1 !important;
        }

        .advertisement-details:hover .advertisement-name {
            opacity: 0 !important;
        }

        .advertisement-details:hover .advertisement-time {
            opacity: 1 !important;
            color: white;
        }

.advertisement-info {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 0 0 15px;
    height: 50px;
    display: flex;
    opacity: 0;
    color: white;
}

    .advertisement-info img {
        transition: 0.5s;
        height: 100%;
        width: 50px;
        border-radius: 15px;
        border: 5px solid white;
        margin-right: 10px;
    }

.advertisement-name {
    transition: 0.5s;
    padding: 10px;
}

.advertisement-name-hover {
    transition: 0.5s;
    position: absolute;
    left: 0;
    color: white;
    opacity: 0;
    padding: 10px;
    padding-bottom: 50px;
}

.advertisement-time {
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    opacity: 0;
}

.advertisement-inner {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: auto;
}


.advertisement-imagebox {
    width: 200px;
    height: 200px;
    border-radius: 20px 20px;
}

.advertisement-image-bg {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.discount {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-image: url(../images/site/discount.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-value {
    font-size: 18px;
    font-weight: bold;
}

.remove-advertisement {
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.edit-advertisement {
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 35px;
}

.add-service {
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 75px;
}

.business-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.category-inner {
    position: relative;
    place-self: center;
    width: 150px;
    height: 100px;
    border-radius: 20px;
}


.category-imagebox {
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

.category-image-bg {
    border-radius: 20px;
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.category-details {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.category-name:hover {
    background-color: rgba(0,0,0,.4);
}

.category-name {
    transition: .5s;
    position: absolute;
    left: 0;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

